*{ text-decoration:none; list-style:none; margin:0px; padding:0px;}
img{max-width:100%;}
body{font-family: 'HaloLife_Fit';}
.header{ float:left; width:100%; background:#fff;padding: 5px 0px;box-shadow: 0px 0px 3px 0px #000;}
.main_menu li {float: none;display: inline-block;width: auto; text-align: center;}
.main_menu li a{ color:#fff;  font-family: 'Gotham'; font-weight:bold; font-size:15px;    padding-top: 9px; float: left; }
.main_menu ul{display: flex; justify-content:space-around;justify-content: space-between; width: 100%;    margin-bottom: 0px;}
.logo {text-align: center; float: left; width: 100%;}
.main_menu{}
.main_menu li a span{    background: -webkit-linear-gradient(45deg, #00ffe6, #00ffe6, #8080f3 80%);    -webkit-background-clip: text;  -webkit-text-fill-color: transparent;}
.dark_bg{ background:#000; color:#fff;}	
.cmn_sec{float:left; width:100%;}
.section_title h2 { font-size: 65px;}
.sec1 { padding-top: 230px; padding-bottom:50px;}
.text_gradient_style{background: -webkit-linear-gradient(45deg, #00ffe6, #00ffe6, #8080f3 80%);    -webkit-background-clip: text;    -webkit-text-fill-color: transparent;}

body {
    font-family: Poppins;}
.top_login { float: right;padding: 12px 5px;}
.top_login p { color: #7569f7;}
.top_login span {margin-left: 10px; background-color: #7569f7;color: #fff;padding: 8px 13px;
 border-radius: 20px;}
.header_logo img { width: 30%;height: auto;padding: 8px 0px;}
.planing {background-color: #fff; margin-top: 90px;border-radius: 5px;padding-bottom: 30px;}
.planing_nca h2 {font-size: 24px;text-align: center;text-transform: uppercase;padding: 60px;margin: 0px;}


.switch { position: relative;display: inline-block;width: 60px; height: 34px;}
.switch input {opacity: 0;width: 0;height: 0;}

.slider {  position: absolute;cursor: pointer;top: 0; left: 0;right: 0; bottom: 0;
  background-color: #ccc;-webkit-transition: .4s;transition: .4s;}

.slider:before { position: absolute;content: ""; height: 26px;width: 26px;left: 4px;
  bottom: 4px;background-color: white;-webkit-transition: .4s;transition: .4s;}

input:checked + .slider {background-color: #2196F3;}

input:focus + .slider {box-shadow: 0 0 1px #2196F3;}

input:checked + .slider:before {-webkit-transform: translateX(26px);-ms-transform: translateX(26px);transform: translateX(26px);}

/* Rounded sliders */
.slider.round {border-radius: 34px;}

.slider.round:before {border-radius: 50%;}
.button_next {text-align: center;}
.button_next a {background-image: linear-gradient(to right, #0680f2, #0680f2, #7569f7 );padding: 10px 46px;border-radius: 20px;color: #fff;text-transform: uppercase;}
.iplaning p {color: #767373;font-size: 16px;}
.Delivery_sec { float: left;width: 100%;}


.form-section
{
	width:100%;
	background:#447cf2;
	float:left;
}
/*custom font*/

@import url(http://fonts.googleapis.com/css?family=Montserrat);
/*basic reset*/
* {
margin: 0;
padding: 0;
}
html {
height: 100%;

}
body {
font-family: montserrat, arial, verdana;
}
/*form styles*/
#msform {
max-width: 800px;
width:100%;
margin: 50px auto;
position: relative;
background: white;
    border: 0 none;
    border-radius: 3px;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
    padding: 20px 30px;
    box-sizing: border-box;
}
#msform h2.fs-title
{
	text-align:center;
	margin-bottom:50px;
	text-transform:uppercase;
	font-size: 25px;
    line-height: 32px;
}
h2.fs-title-secondsection
{
text-align:center;
	margin-bottom:10px;
	text-transform:uppercase;
	font-size: 25px;
    line-height: 32px;	
	color:#000;
}

.form-group .my-self
{
	color:#447cf2;
	width: 80px;
    display: inline-block;
}
.form-group .someone
{
	color:#447cf2;
	width: 104px;
    display: inline-block;
	margin-left:10px;
}
.form-group .someone1
{
	color:#447cf2;
	width: 135px;
    display: inline-block;
	margin-left:10px;
}
.form-group {
    margin-bottom: 15px;
    width: 100%;
    float: left;
	text-align:left;
}
.form-group label.text-info
{
	    color: #000 !important;
	    font-weight: normal;
}
.form-group .simple-input
{
border-bottom:1px solid #ccc !important;
border-top:0px;
border-left:0px;
border-right:0px;
height: 30px;
color:#447cf2;
border-radius:0px !important;
}
input:not([type="submit"]):not([type="button"]):not(.submit):not(.button):not(.extenal-bdcl)
{
	    border-color: #ccc !important; 
}
.form-group .simple-input:focus
{
border-bottom:1px solid #ccc !important;	
}
.form-group input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color:#447cf2;
}

.form-group input:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color:#447cf2;
}

.form-group input::-ms-input-placeholder { /* Microsoft Edge */
  color:#447cf2;
}
  .form-group select
  {  border-bottom: 1px solid #ccc;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    background: none;
    width: 100%;
    height: 30px;
	color:#447cf2;
	border-radius:0px;
	-webkit-appearance: menulist;
	appearance: menulist;
	padding:0px;
	
  }
#msform .form-group label
{
	text-align:left;
}
#msform fieldset {
box-sizing: border-box;
width: 100%;
margin: 0 0%;
    padding: 0px 67px;
	text-align:center;
    border: none;
}
/*Hide all except first fieldset*/
#msform fieldset:not(:first-of-type) {
display: none;
}
/*inputs*/
#msform input, #msform textarea {
padding: 0px 0px;
width: 100%;
box-sizing: border-box;
font-family: montserrat;
}

/*buttons*/
#msform .action-button {
width: auto;
/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#447cf2+0,2989d8+37,7169f6+60,7169f6+100 */
background: #447cf2; /* Old browsers */
background: -moz-linear-gradient(left,  #447cf2 0%, #2989d8 37%, #7169f6 60%, #7169f6 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  #447cf2 0%,#2989d8 37%,#7169f6 60%,#7169f6 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  #447cf2 0%,#2989d8 37%,#7169f6 60%,#7169f6 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#447cf2', endColorstr='#7169f6',GradientType=1 ); /* IE6-9 */

font-weight: bold;
color: white;
border: 0 none;
border-radius: 30px;
cursor: pointer;
padding: 14px 57px;
    margin: 10px 0px;
    font-size: 21px;
    text-transform: uppercase;
	height:auto;
}
#msform .action-button:hover, #msform .action-button:focus {

} 
#msform .action-button-second-back
{
	width: auto;
color:#ccc;	
float:left;
font-weight: bold;
border: 0 none;
border-radius: 30px;
cursor: pointer;
padding: 14px 57px;
    margin: 10px 0px;
    font-size: 21px;
    text-transform: uppercase;
	height:auto;
}
#msform .action-button-second-next
{
width: auto;
/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#447cf2+0,2989d8+37,7169f6+60,7169f6+100 */
background: #447cf2; /* Old browsers */
background: -moz-linear-gradient(left,  #447cf2 0%, #2989d8 37%, #7169f6 60%, #7169f6 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  #447cf2 0%,#2989d8 37%,#7169f6 60%,#7169f6 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  #447cf2 0%,#2989d8 37%,#7169f6 60%,#7169f6 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#447cf2', endColorstr='#7169f6',GradientType=1 ); /* IE6-9 */

font-weight: bold;
color: white;
border: 0 none;
border-radius: 30px;
cursor: pointer;
padding: 14px 57px;
    margin: 10px 0px;
    font-size: 21px;
    text-transform: uppercase;
	height:auto;
float:right;	
}
#msform .action-button-second-next-submit
{
width: auto;
/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#447cf2+0,2989d8+37,7169f6+60,7169f6+100 */
background: #447cf2; /* Old browsers */
background: -moz-linear-gradient(left,  #447cf2 0%, #2989d8 37%, #7169f6 60%, #7169f6 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  #447cf2 0%,#2989d8 37%,#7169f6 60%,#7169f6 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  #447cf2 0%,#2989d8 37%,#7169f6 60%,#7169f6 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#447cf2', endColorstr='#7169f6',GradientType=1 ); /* IE6-9 */

font-weight: bold;
color: white;
border: 0 none;
border-radius: 30px;
cursor: pointer;
padding: 14px 57px;
    margin: 10px 0px;
    font-size: 21px;
    text-transform: uppercase;
	height:auto;
float:right;
line-height:30px;		
}
.butten-center
{
	    margin-top: 20px;
	text-align:center;
}
/*headings*/
.fs-title {
font-size: 15px;
text-transform: uppercase;
color: #000;
margin-bottom: 10px;
}
.fs-subtitle {
font-weight: normal;
    font-size: 17px;
    color: #000;
    margin-bottom: 20px;
    padding: 0px 60px;
}
/*progressbar*/
#progressbar {
margin-bottom: 0px;
overflow: hidden;
/*CSS counters to number the steps*/
counter-reset: step;
}
#progressbar li {
list-style-type: none;
color: #7468f6;
text-transform: uppercase;
font-size: 9px;
width: 33.33%;
float: left;
position: relative;
text-align:center;
}
#progressbar li:before {
content: counter(step);
counter-increment: step;
width: 24px;
    line-height: 24px;
display: block;
font-size: 15px;
    font-weight: bold;
color: #7468f6;
background: white;
border-radius: 50%;
margin: 0 auto 5px auto;
z-index:999;
position:relative;
border:1px solid #7468f6; 

}
/*progressbar connectors*/
#progressbar li:after {
content: '';
width: 100%;
height: 2px;

position: absolute;
left: -50%;
top:12px;
    border: 1px dashed #7468f6;
z-index: 1; /*put it behind the numbers*/
}
#progressbar li:first-child:after {
/*connector not needed before the first step*/
content: none;
}
/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before, #progressbar li.active:after {
background: #7468f6;
color: white;
border-radius: 50%;
}


.inner-progress-sec
{
	margin-bottom:20px;
}

.inner-progress-sec ul {
margin-bottom: 0px;
overflow: hidden;
/*CSS counters to number the steps*/

}
.inner-progress-sec ul li {
	
list-style-type: none;
color: #7468f6;
text-transform: uppercase;
font-size: 17px;
width: 16.33%;

position: relative;
text-align:center;
    display: inline-block;
}
.inner-progress-sec ul li:before {
content:'';
    width: 19px;
    line-height: 24px;
    height: 19px;
display: block;
font-size: 15px;
    font-weight: bold;
color: #7468f6;
background: white;
border-radius: 50%;
margin: 0 auto 5px auto;
z-index:999;
position:relative;
border:1px solid #7468f6; 

}
/*progressbar connectors*/
.inner-progress-sec ul li:after {
content: '';
width: 100%;
height: 2px;

position: absolute;
left: -50%;
top: 8px;
    border: 1px solid #7468f6;
z-index: 1; /*put it behind the numbers*/
}
.inner-progress-sec ul li:first-child:after {
/*connector not needed before the first step*/
content: none;
}
/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
.inner-progress-sec ul li.active:before{
background: #7468f6;
color: white;
border-radius: 50%;
width: 24px;
    line-height: 24px;
    height: 24px;
}
.inner-progress-sec ul li.active:after{
    top: 13px;	
}

.inner-sec-form
{
	box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
	background:#fff;
	width:100%;
	float:left;
	    padding: 20px 20px 30px;
		margin-bottom:20px;
		position:relative;
		    overflow: hidden;
}
.top-label 
{
	padding-top: 20px;
       right: -42px;
    text-align: center;
-ms-transform: rotate(45deg); /* IE 9 */
  -webkit-transform: rotate(45deg); /* Safari */
  transform: rotate(45deg); /* Standard syntax */
  background: #447cf2; /* Old browsers */
background: -moz-linear-gradient(left,  #447cf2 0%, #2989d8 37%, #7169f6 60%, #7169f6 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  #447cf2 0%,#2989d8 37%,#7169f6 60%,#7169f6 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  #447cf2 0%,#2989d8 37%,#7169f6 60%,#7169f6 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#447cf2', endColorstr='#7169f6',GradientType=1 ); /* IE6-9 */
position: absolute;
    top: -16px;
    height: 63px;
    width: 136px;
}
.top-label h4
{
	    color: #fff;
    font-size: 16px;
    margin-left: 21px;
}
.pro-imag
{
	margin-top:45px;
}
.inner-sec-form h3
{
color:#447cf2;	
}
.right-site-data h4 
{
	text-align:left;
	    color: #000;
}
.right-site-data p 
{
	text-align:left
}
.unorder-list-data ul li
{
	width: 33.333%;
    float: left;
	list-style:none;
	text-align:center;
}
.unorder-list-data ul li p
{
	text-align:center;
}
.unorder-list-data ul li .fa-star
{
	background:#447cf2;
	color:#fff;
	    border-radius: 50%;
    padding: 7px;
}
.switch {
  position: relative;
  display: inline-block;
      width: 50px;
    height: 25px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
 height: 19px;
    width: 19px;
    left: 0px;
    bottom: 3px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
.previous .action-button .base {
	
}
.form-group p {
    font-size: 9px;
}
input#password {
   
}