/*custom font*/
@import url(https://fonts.googleapis.com/css?family=Montserrat);

/*basic reset*/
* {margin: 0; padding: 0;}

html {
	height: 100%;
	/*Image only BG fallback*/
	
	/*background = gradient + image pattern combo*/

}

body {
	font-family: montserrat, arial, verdana;
}
/*form styles*/
#msform {
	width: 800px;
	margin: 50px auto;
	text-align: center;
	position: relative;
	background:
			linear-gradient(rgba(196, 102, 0, 0.6), rgba(155, 89, 182, 0.6));
}
#msform fieldset {
	background: white;
	border: 0 none;
	border-radius: 3px;
	box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
	padding: 20px 30px;
	box-sizing: border-box;
	width: 80%;
	margin: 0 10%;
	
	/*stacking fieldsets above each other*/
	position: relative;
}
/*Hide all except first fieldset*/
#msform fieldset:not(:first-of-type) {
	display: none;
}
/*inputs*/
#msform input, #msform textarea, #msform select {
	height: auto;
	padding: 15px;
	border: 1px solid #ccc !important;
	border-radius: 3px;
	/*margin-bottom: 10px;*/
	width: 70%;
	box-sizing: border-box;
	font-family: montserrat;
	color: #2C3E50;
	font-size: 13px;
}
#msform input::-webkit-input-placeholder {
    color: #696969;
}
#msform textarea:-moz-placeholder {
    color: #696969;
}
#msform select::-moz-placeholder {
    color: #696969;
}
/*buttons*/
#msform .action-button {
	width: 100px;
	background: #27AE60;
	font-weight: bold;
	color: white;
	border: 0 none;
	border-radius: 1px;
	cursor: pointer;
	padding: 10px 5px;
	margin: 10px 5px;
}
#msform .action-button:hover, #msform .action-button:focus {
	box-shadow: 0 0 0 2px white, 0 0 0 3px #27AE60;
}
/*headings*/
.fs-title {
	font-size: 15px;
	text-transform: uppercase;
	color: #2C3E50;
	margin-bottom: 10px;
}
.fs-subtitle {
	font-weight: normal;
	font-size: 13px;
	color: #666;
	margin-bottom: 20px;
    margin-top: 0;
}
/*progressbar*/
#progressbar {
	margin-bottom: 30px;
	overflow: hidden;
	/*CSS counters to number the steps*/
	counter-reset: step;
}
#progressbar li {
	list-style-type: none;
	color: white;
	text-transform: uppercase;
	font-size: 9px;
	width: 33.33%;
	float: left;
	position: relative;
}
#progressbar li:before {
	content: counter(step);
	counter-increment: step;
	width: 20px;
	line-height: 20px;
	display: block;
	font-size: 10px;
	color: #333;
	background: white;
	border-radius: 3px;
	margin: 0 auto 5px auto;
	position: relative;
	z-index: 2;
}
/*progressbar connectors*/
#progressbar li:after {
	content: '';
	width: 100%;
	height: 2px;
	background: white;
	position: absolute;
	left: -50%;
	top: 9px;
	z-index: 1; /*put it behind the numbers*/
}
#progressbar li:first-child:after {
	/*connector not needed before the first step*/
	content: none; 
}
/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before,  #progressbar li.active:after{
	background: #27AE60;
	color: white;
}
/*Switch*/
    .switcher {
		display: flex;
		justify-content: space-between;
		padding: 10px 0;
		width: 70%;
	}	
	.onoffswitch {
        position: relative; width: 70px;
        -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
    }
    .onoffswitch-checkbox {
        display: none;
    }
    .onoffswitch-label {
        display: block; overflow: hidden; cursor: pointer;
        height: 10px; padding: 0; line-height: 17px;
        border: 0px solid #999999; border-radius: 40px;
        background-color: #353ACC;
    }
    .onoffswitch-label:before {
        content: "";
        display: block; width: 30px;height:30px; margin: -11.5px;
        background: #353ACC;
        position: absolute; top: 0; bottom: 0;
        right: 59px;
        border-radius: 40px;
        box-shadow: 0 6px 12px 0px #757575;
    }
    .onoffswitch-checkbox:checked + .onoffswitch-label {
        background-color: #353ACC;
    }
    .onoffswitch-checkbox:checked + .onoffswitch-label, .onoffswitch-checkbox:checked + .onoffswitch-label:before {
       border-color: #353ACC;
    }
    .onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
        margin-left: 0;
    }
    .onoffswitch-checkbox:checked + .onoffswitch-label:before {
        right: 0px; 
        background-color: #353ACC; 
        box-shadow: 3px 6px 18px 0px rgba(0, 0, 0, 0.2);
    }

/**
02.03.19
 */
.input-set {
	display: flex;
	margin: 10px 0;
	align-items: center;
    color: #000;
    font-size: 16px;
	position: relative;
}
.input-set>label {
	width: 30%;
	text-align: left;
}
.input-set input {
	margin: 0;
}
#msform input.inactive {
	border: 1px solid #ccc;
	background-color: #fff;
	color: #ccc;
	pointer-events: none;
	cursor: default;
}
.radio-goal {
	display: flex;
	space-between: justify-content;
}
.company-card {
	margin: 50px 0 30px;
}
.company-card section {
	display: flex;
	-ms-align-items: center;
	align-items: center;
	justify-content: space-between;
	display: none;
}
.company-card section.active {
	display: flex;
}
.img-wrap {
	width: 200px;
	overflow: hidden;
	display: flex;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
}
.img-wrap img {
	max-width: 100%;
	width: 100%;
}
.info-wrap {
	width: calc(100% - 220px);
}
.prod-title {
	font-size: 16px;
	margin-bottom: 10px;
}
.prod-desc {
	font-size: 14px;
	padding: 0 10px;
}
.prod-features {
	display: flex;
	-ms-align-items: flex-start;
	align-items: flex-start;
	justify-content: space-between;
	font-weight: bold;
	font-size: 14px;
	padding: 10px;
}
.switcher-desc {
	width: 30%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding-right: 10px;
	text-align: left;
    color: #000;
}
.label-wrap {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	width: 100%;
}
#msform .label-wrap>input {
	width: 48%;
}
.label-wrap>input:last-child {
	margin-right: 0;
}
.input-group {
	width: 70%;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;	
	justify-content: space-between;
}
#msform .input-group input {
	width: 100%;
	margin-bottom: 10px;
}
#msform .input-set .small-inp {
	width: 49%;
}
#msform .input-set select.small-inp {
	padding: 13px 15px;
	height: 48px;
}
.has-group {
	-ms-align-items: flex-start;
	align-items: flex-start;
}
span.field-error{
	padding: 4px 5px;
	position: absolute;
	top: 105%;
	left: 50%;
	transform: translateX(-50%);
	background: #fff;
	font-size: 12px;
	color: red;
	border: 1px solid #ccc !important;
	border-radius: 3px;
	z-index: 1;
	display: none;
}
#msform input.field-error{
	border-color: #d00e0e !important;
}
.input-group #addr2 + .field-error{
	top: 22%;
}
.input-group #addr-city + .field-error{
	top: 47%;
}
.input-group #addr-zip + .field-error{
	top: 72%;
	left: 74%;
}
.input-group #phone + .field-error{
	top: 98%
}